@page
@using Microsoft.AspNet.Identity
@model ZamkDb.Pages.Bookings.GetAllBookingsModel
@{
}




<h3 style="color:cornflowerblue">My bookings</h3>
@*<table class="table">
	<thead>
	<tr>
		<th>Booking Id</th>
		<th>Course Id</th>
		<th>Your Id</th>
		<th>Your name</th>
		<th>Driver Name</th>
        <th>Zealand Location </th>
        <th>End Location </th>
        <th>Date</th>
	</tr>
	</thead>
	<tbody>

		@if (Model.Bookings != null)
		{
			@foreach (var item in Model.Bookings)
			{
				@if (User.Identity.GetUserId() == item.ParticipantId)
				{
		<tr>
			<td> @item.BookingId</td>
			<td> @item.CourseId</td>
			<td> @item.ParticipantId</td>
			<td> @item.Participant.Name</td>
            <td> @item.Course.User.Name</td>
            <td> @item.Course.ZealandLocation</td>
            <td> @item.Course.EndLocation</td>
			<td> @item.Course.StartDateTime</td>
			<td>
				@if (User.Identity.GetUserId() == item.ParticipantId)
				{
				    <a asp-page="Delete" asp-route-id="@item.BookingId" class="btn btn-danger m-1">Cancel your booking</a>
				}
			</td>
		</tr>
				}
			}
		}
	</tbody>
</table>*@

<div class="container">
	<div class="row">
		@foreach (var p in Model.Bookings)
		{
			@if (User.Identity.GetUserId() == p.ParticipantId)
			{


				<div class="col-sm">
					<div class="card" style="width: 20rem;">
						<img class="card-img-top" src="~/img/Booking.png" alt="Card image cap" >
						<div class="card-body">
							<h5 class="card-title">Zealand Location: @p.Course.ZealandLocation</h5>
							<p class="card-text">Your name: @p.Participant.Name</p>
							<p class="card-text">Driver name: @p.Course.User.Name</p>
							<p class="card-text">Start location: @p.Course.StartLocation</p>
							<p class="card-text">End location: @p.Course.EndLocation</p>
                            <p class="card-text">Date: @p.Course.StartDateTime</p>
                            <p class="card-text">Chosen Pickup Point: @p.ChosenPickUpPoint</p>
							@if (User.Identity.GetUserId() == p.ParticipantId)
							{
								<a asp-page="Delete" asp-route-id="@p.BookingId" class="btn btn-danger m-1">Cancel your booking</a>
							}
							
							

							@*<a asp-page="/Courses/Registration" asp-route-cid="@p.CourseId" class="btn btn-primary">Show courses</a>*@
						</div>
					</div>
					<br />
				</div>
			}
		}
	</div>
</div>
